{% extends 'index.html' %}
{% load unicorn %}
{% load static %}
{% block content %}

<div unicorn:view>

    <div class="m-3">
        <div class="row">

            <div class="col-7">
                <div class="row">
                    <div class="col-6">
                        <input
                            unicorn:model.lazy="from_address"
                            value="{{from_address}}"
                            class="form-control {% if not from_address_valid %} is-invalid {% endif %}"
                            placeholder="From address"
                            type="text" />
                        {% if not from_address_valid %}
                            <div class="invalid-feedback">
                                Input correct hexadecimal-format address
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <input
                            unicorn:model.lazy="to_address"
                            value="{{to_address}}"
                            class="form-control {% if not to_address_valid %} is-invalid {% endif %}"
                            placeholder="To address"
                            type="text" />
                        {% if not to_address_valid %}
                            <div class="invalid-feedback">
                                Input correct hexadecimal-format address
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="row">

                    <div class="form-group row col-6">
                        <label
                            for="beginDateInput"
                            class="col-sm-2 col-form-label">
                            From
                        </label>
                        <div class="col-sm-10">
                            <input
                                unicorn:model.lazy="begin_date"
                                value="{{begin_date}}"
                                id="beginDateInput"
                                class="form-control {% if not begin_date_valid %} is-invalid {% endif %}"
                                type="datetime-local"
                                min="2023-12-14T23:59"
                                max="2024-01-14T23:59" />
                            {% if not begin_date_valid %}
                                <div class="invalid-feedback">
                                    We currently only have data for one month
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row col-6">
                        <label
                            for="endDateInput"
                            class="col-sm-2 col-form-label">
                            To
                        </label>
                        <div class="col-sm-10">
                            <input
                                unicorn:model.lazy="end_date"
                                value="{{end_date}}"
                                id="endDateInput"
                                class="form-control {% if not end_date_valid %} is-invalid {% endif %}"
                                type="datetime-local"
                                min="2023-12-14T23:59"
                                max="2024-01-14T23:59" />
                            {% if not end_date_valid %}
                                <div class="invalid-feedback">
                                    We currently only have data for one month
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <button
            unicorn:click="validate_load_request"
            type="button"
            class="btn btn-primary m-2"
            {% if not from_address_valid or not to_address_valid or not begin_date_valid or not end_date_valid %} disabled {% endif %}>
            Request
        </button>
    </div>

    <div class="vw-100 vh-100">

        <div
            class="w-100 h-50 d-flex flex-row"
            style="align-items: center; justify-content: space-around;">
            <div style="height: 80%; width: 25%;">
                <canvas id="tokensChart">

                </canvas>
            </div>
            <div style="height: 80%; width: 25%; background-color:aqua;">

            </div>
            <div style="height: 80%; width: 25%; background-color:aqua;">

            </div>
        </div>

        <div class="w-100 h-50 d-flex flex-column align-items-center overflow-auto">
            {% for block_data in filtered_data.values %}
                {% for tx in block_data.transactions.values %}
                    <div class="w-75 m-2 d-flex flex-column align-items-center border border-primary rounded position-relative">

                        <div
                            class="border border-dark"
                            class="dropdown-button-wrapper">
                            <img
                                unicorn:click="set_show_traces({{block_data.id}}, {{tx.tx.transaction_index}})"
                                class="dropdown-button
                                    {% if not tx.show_traces %}
                                        dropdown-button-active
                                    {% else %}
                                        dropdown-button-inactive
                                    {% endif %}"
                                src="{% static 'dropdown.png' %}" />
                        </div>

                        <div class="d-flex flex-row border-bottom border-dark" style="width: 80%; justify-content: space-between;">
                            <div><b>{{tx.tx.id}}</b></div>
                            <div><b>Traces</b>: {{tx.tx.traces_len}}</div>
                        </div>
                        <div class="d-flex flex-row border-bottom border-dark" style="width: 80%; justify-content: space-between;">
                            <div><b>From</b>: {{tx.tx.from}}</div>
                            <div><b>To</b>: {{tx.tx.to}}</div>
                        </div>
                        <div class="d-flex flex-row border-bottom border-dark" style="width: 80%;justify-content: space-between;">
                            <div><b>Block number</b>: {{tx.tx.block_number}}</div>
                            <div><b>Index in block</b>: {{tx.tx.transaction_index}}</div>
                        </div>
                        <div
                            class="d-flex flex-row border-bottom {% if tx.show_traces %} border-dark {% endif %}"
                            style="width: 80%; justify-content: space-between;">
                            <div><b>Gas</b>: {{tx.tx.gas}}</div>
                            <div>
                                {% if 'max_fee_per_gas' in tx.tx %}
                                    <b>Max fee per gas</b>: {{tx.tx.max_fee_per_gas}}
                                {% endif %}
                            </div>
                            <div>
                                {% if 'max_priority_fee_per_gas' in tx.tx %}
                                    <b>Max priority fee per gas</b>: {{tx.tx.max_priority_fee_per_gas}}
                                {% endif %}
                            </div>
                        </div>

                        {% if tx.show_traces %}
                            <div
                                class="d-flex flex-column"
                                style="width: 80%;">
                                <div
                                        class="d-flex flex-row border-bottom border-dark"
                                        style="width: 100%; justify-content: space-between;">
                                        <div><b>Traces:</b></div>
                                    </div>
                                {% for trace in tx.tx.traces %}
                                    <div
                                        class="d-flex flex-row border-bottom border-dark"
                                        style="width: 100%; justify-content: space-between;">
                                        <div>{{trace.trace.from}}</div>
                                        <div>{{ trace.trace.value }}</div>
                                        <div>{{trace.trace.to}}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                {% endfor %}
            {% endfor %}
        </div>

    </div>

    <div class="row justify-content-end position-absolute top-0 end-0 m-2 w-50">
        <div class="col-3">
            <select
                unicorn:model="network"
                class="form-select">
                {% for network_option in networks %}
                    <option value="{{network_option}}">{{network_option}}</option>  
                {% endfor %}
            </select>
        </div>
    </div>

</div>

{% endblock %}