{% extends 'index.html' %}
{% load unicorn %}
{% load static %}
{% load cache %}

{% block content %}

<div unicorn:view>

    {{ token_codes|json_script:'token_codes_script' }}
    {{ token_names|json_script:'token_names_script' }}
    {{ token_number_of_operations|json_script:'token_number_of_operations_script' }}

    {{ counterparty_addresses|json_script:'counterparty_addresses_script' }}
    {{ counterparty_numbers_of_interactions|json_script:'counterparty_numbers_of_interactions_script' }}

    {{ dates|json_script:'dates_script' }}
    {{ value_sums|json_script:'value_sums_script' }}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    <script>

        function renderGraphs () {

            const token_codes = JSON.parse(document.getElementById('token_codes_script').textContent);
            const token_names = JSON.parse(document.getElementById('token_names_script').textContent);
            const token_numbers_of_operations = JSON.parse(document.getElementById('token_number_of_operations_script').textContent);

            const counterparty_addresses = JSON.parse(document.getElementById('counterparty_addresses_script').textContent);
            const counterparty_numbers_of_interactions = JSON.parse(document.getElementById('counterparty_numbers_of_interactions_script').textContent);

            const dates = JSON.parse(document.getElementById('dates_script').textContent);
            const value_sums = JSON.parse(document.getElementById('value_sums_script').textContent);

            let tokensChartStatus = Chart.getChart("tokensChart");
            if (tokensChartStatus != undefined) {
                tokensChartStatus.destroy();
            }
            let counterpartiesChartStatus = Chart.getChart("counterpartiesChart");
            if (tokensChartStatus != undefined) {
                counterpartiesChartStatus.destroy();
            }
            let timelineChartStatus = Chart.getChart("timelineChart");
            if (tokensChartStatus != undefined) {
                timelineChartStatus.destroy();
            }

            const ctxTokens = document.getElementById('tokensChart');
            const ctxCounterparties = document.getElementById('counterpartiesChart');
            const ctxTimeline = document.getElementById('timelineChart');

            new Chart(ctxTokens, {
                type: 'pie',
                data: {
                    labels: token_codes,
                    datasets: [{
                        data: token_numbers_of_operations,
                        borderWidth: 1
                    }]
                },
                plugins: [ChartDataLabels],
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            position: 'left'
                        }
                    }
                }
            });

            new Chart(ctxCounterparties, {
                type: 'pie',
                data: {
                    labels: counterparty_addresses,
                    datasets: [{
                        data: counterparty_numbers_of_interactions,
                        borderWidth: 1
                    }]
                },
                plugins: [ChartDataLabels],
                options: {
                    responsive: false,
                    plugins: {
                        legend: {
                            position: 'left'
                        }
                    }
                }
            });

            new Chart(ctxTimeline, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        data: value_sums,
                        borderWidth: 1
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                    scales: {
                        x: {
                            grid: {
                                display: false,
                            }
                        },
                        y: {
                            grid: {
                                display: false,
                            }
                        }
                    }
                }
            });
        }
    </script>

    <div class="m-3">
        <div class="row">

            <div class="col-7">
                <div class="row">
                    <div class="col-6">
                        <input
                            unicorn:model.lazy="from_address"
                            value="{{from_address}}"
                            class="form-control {% if not from_address_valid %} is-invalid {% endif %}"
                            placeholder="From address"
                            type="text" />
                        {% if not from_address_valid %}
                            <div class="invalid-feedback">
                                Input correct hexadecimal-format address
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <input
                            unicorn:model.lazy="to_address"
                            value="{{to_address}}"
                            class="form-control {% if not to_address_valid %} is-invalid {% endif %}"
                            placeholder="To address"
                            type="text" />
                        {% if not to_address_valid %}
                            <div class="invalid-feedback">
                                Input correct hexadecimal-format address
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="row">

                    <div class="form-group row col-6">
                        <label
                            for="beginDateInput"
                            class="col-sm-2 col-form-label">
                            From
                        </label>
                        <div class="col-sm-10">
                            <input
                                unicorn:model.lazy="begin_date"
                                value="{{begin_date}}"
                                id="beginDateInput"
                                class="form-control {% if not begin_date_valid %} is-invalid {% endif %}"
                                type="datetime-local"
                                min="2023-12-14T23:59"
                                max="2024-01-14T23:59" />
                            {% if not begin_date_valid %}
                                <div class="invalid-feedback">
                                    We currently only have data for one month
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row col-6">
                        <label
                            for="endDateInput"
                            class="col-sm-2 col-form-label">
                            To
                        </label>
                        <div class="col-sm-10">
                            <input
                                unicorn:model.lazy="end_date"
                                value="{{end_date}}"
                                id="endDateInput"
                                class="form-control {% if not end_date_valid %} is-invalid {% endif %}"
                                type="datetime-local"
                                min="2023-12-14T23:59"
                                max="2024-01-14T23:59" />
                            {% if not end_date_valid %}
                                <div class="invalid-feedback">
                                    We currently only have data for one month
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <button
            unicorn:partial="all-page"
            unicorn:click="validate_load_request"
            type="button"
            class="btn btn-primary m-2"
            {% if not from_address_valid or not to_address_valid or not begin_date_valid or not end_date_valid %} disabled {% endif %}>
            Request
        </button>
    </div>

    <div class="vw-100 vh-100">

        <div
            class="w-100 h-50 d-flex flex-row"
            style="align-items: center; justify-content: space-around;">
            <div style="position: relative; height: 80%; width: 30%;">             
                <canvas style="height: 100%; width: 100%;" id="tokensChart"></canvas>
            </div>
            <div style="position: relative; height: 80%; width: 30%;">
                <canvas style="height: 100%; width: 100%;" id="counterpartiesChart"></canvas>
            </div>
            <div style="position: relative; height: 80%; width: 30%;">
                <canvas style="height: 100%; width: 100%;" id="timelineChart"></canvas>
            </div>
        </div>


        <div class="row justify-content-end position-absolute end-0 m-2 w-50">
            <div class="col-3">
                <select
                    unicorn:partial.key="raw_info_container"
                    unicorn:model="show_txs_or_countracts"
                    class="form-select">
                    {% for show_txs_or_countracts_option in show_txs_or_countracts_options %}
                        <option
                            value="{{show_txs_or_countracts_option}}">
                            {{show_txs_or_countracts_option}}
                        </option>  
                    {% endfor %}
                </select>
            </div>
        </div>


        <div
            unicorn:key="raw_info_container"
            class="w-100 h-50 d-flex flex-column align-items-center overflow-auto">
            {% if show_txs_or_countracts == "Transactions" %}
                {% for block_data in filtered_data.values %}
                    {% for tx in block_data.transactions.values %}
                        <div
                            unicorn:key="{{tx.tx.id}}"
                            class="w-75 m-2 d-flex flex-column align-items-center border border-primary rounded position-relative">

                            <div
                                class="border border-dark dropdown-button-wrapper {% if tx.show_traces %} rotate180 {% endif %}">
                                <img
                                    unicorn:partial.key="{{tx.tx.id}}"
                                    unicorn:click="set_show_traces({{block_data.id}}, {{tx.tx.transaction_index}})"
                                    class="dropdown-button"
                                    src="{% static 'dropdown.png' %}" />
                            </div>

                            <div class="d-flex flex-row border-bottom border-dark" style="width: 80%; justify-content: space-between;">
                                <div><b>{{tx.tx.id}}</b></div>
                                <div><b>Traces</b>: {{tx.tx.traces_len}}</div>
                            </div>
                            <div class="d-flex flex-row border-bottom border-dark" style="width: 80%; justify-content: space-between;">
                                <div><b>From</b>: {{tx.tx.from}}</div>
                                <div><b>To</b>: {{tx.tx.to}}</div>
                            </div>
                            <div class="d-flex flex-row border-bottom border-dark" style="width: 80%;justify-content: space-between;">
                                <div><b>Block number</b>: {{tx.tx.block_number}}</div>
                                <div><b>Date</b>: {{tx.tx.datetime}}</div>
                                <div><b>Index in block</b>: {{tx.tx.transaction_index}}</div>
                            </div>
                            <div
                                class="d-flex flex-row border-bottom {% if tx.show_traces %} border-dark {% endif %}"
                                style="width: 80%; justify-content: space-between;">
                                <div><b>Gas</b>: {{tx.tx.gas}}</div>
                                <div><b>Gas price</b>: {{tx.tx.gas_price}}</div>
                                <div>
                                    {% if 'max_fee_per_gas' in tx.tx %}
                                        <b>Max fee per gas</b>: {{tx.tx.max_fee_per_gas}}
                                    {% endif %}
                                </div>
                                <div>
                                    {% if 'max_priority_fee_per_gas' in tx.tx %}
                                        <b>Max priority fee per gas</b>: {{tx.tx.max_priority_fee_per_gas}}
                                    {% endif %}
                                </div>
                            </div>

                            {% if tx.show_traces %}
                                <div
                                    class="d-flex flex-column"
                                    style="width: 80%;">
                                    <div
                                            class="d-flex flex-row border-bottom border-dark"
                                            style="width: 100%; justify-content: space-between;">
                                            <div><b>Traces:</b></div>
                                        </div>
                                    {% for trace in tx.tx.traces %}
                                        <div
                                            class="d-flex flex-row border-bottom border-dark"
                                            style="width: 100%; justify-content: space-between;">
                                            <div>{{trace.trace.from}}</div>
                                            <div style="height: 1.5em; display: flex; align-items: center;">
                                                <img
                                                    class="dropdown-button"
                                                    src="{% static 'right_arrow.png' %}" />
                                            </div>
                                            <div>{{trace.trace.to}}</div>
                                            <div><b>Gas used</b>: {{trace.trace.gas_used}}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

    </div>

    <div class="row justify-content-end position-absolute top-0 end-0 m-2 w-50">
        <div class="col-3">
            <select
                unicorn:model="network"
                class="form-select">
                {% for network_option in networks %}
                    <option
                        value="{{network_option}}">
                        {{network_option}}
                    </option>  
                {% endfor %}
            </select>
        </div>
    </div>

</div>

{% endblock %}